body {
  background-color: #F7F7F7;
  min-width: 900px;
}

/* Tambahkan gaya CSS kustom di sini */
.nav-tabs {
  position: fixed;
  top: 50vh;
  /* transform: translateY(-50%) translateX(10%);
  z-index: 999; */
  background-color: #EEEEEE;
  border-radius: 20px;
  border: 0px;

}

.nav-link {
  color: #929AAB;
}

.nav-link.active {
  background-color: #f0f0f0;
  /* Warna latar belakang untuk nav-link yang dipilih */
  color: black;
  /* Warna teks untuk nav-link yang dipilih */
  transition: background-color 0.3s;
  border-radius: 20px;
  font-size: large;
  transition: 0.4s;
}


.card {
  /* width: 300px; */
  width: 10vh;
  height: 80vh;
  display: flex;
  /* justify-content: center; */
  /* justify-items: center; */
  /* align-self: center; */
  margin-right: auto;
  /* margin: auto; */
  
  border-radius: 16px;
  background-color: #EEEEEE;
}

.tab-content {
  display: flex;
  justify-content: center;
  justify-items: center;
  width: 100%;
}

.foto-saya {
  border-radius: 20px;
  margin-top: 20px;
  width: 80%;

  display: flex;
  justify-content: center;
  justify-items: center;
  align-self: center;
}

.nav-link:hover {
  color: #393E46;
  /* Ganti warna teks saat dihover menjadi merah */
}

.isi {
  /* display: flex;
        justify-content: center;
        justify-items: center;
        align-self: center; */
  text-align: left;
  text-indent: 30px;
  text-align: justify;
}

h2 {
  text-align: center;
}
p{
  margin-top:10px;
 
}

.table {
  margin-top: 50px;
}

footer{
  margin-top: 40px;
}
a{
  color: #393E46;
}
a:hover{
color: blue;
text-decoration: wavy;
font-size: large;
transition: 0.4s;
}




/* timeline */
.timeline {
  position: relative;
}

.timeline-item {
  position: relative;
  padding-left: 40px; /* Ruang untuk bulatan dan teks */
  margin-bottom: 20px; /* Ruang antara setiap item */
}

.timeline-item::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 20px; /* Lebar bulatan */
  height: 20px; /* Tinggi bulatan */
  border-radius: 50%; /* Membuatnya menjadi bulatan */
  background-color: #929AAB; /* Warna bulatan */
  transform: translateY(-50%);
}

.timeline-item::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 10px; /* Jarak antara bulatan dan garis vertikal */
  width: 2px; /* Lebar garis vertikal */
  height: calc(100% + 20px); /* Tinggi garis vertikal (kurangi tinggi bulatan) */
  background-color: #000000; /* Warna garis vertikal */
  transform: translateY(-50%);
}
  